@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);

@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icomoon.eot?fdnigd');
  src: url('./assets/fonts/icomoon.eot?fdnigd#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?fdnigd') format('truetype'),
    url('./assets/fonts/icomoon.woff?fdnigd') format('woff'),
    url('./assets/fonts/icomoon.svg?fdnigd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: inherit;
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #79838c;
}

a {
  color: #50585f;
  text-decoration: none;
}

a:hover {
  color: #383e44;
}

div.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  max-height: 100%;
}

div.header {
  height: auto;
  text-align: center;
  /* background: slategrey; */
  background: linear-gradient(35deg, slategrey, rgb(132, 159, 185));
  color: ghostwhite;
  padding: 1.3rem 1rem 2.3rem 1rem;
  position: relative;
}

div.header:after {
  content: "";
  position: absolute;
  bottom: -5rem;
  left: 0rem;
  height: 5.1rem;
  display: block;
  width: 100%;
  z-index: 10;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
  pointer-events: none;
}

div.header h1 {
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 200;
  font-size: 1.6em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

@media (min-width: 62em) {
  div.header h1 {
    font-size: 1.9em;
    letter-spacing: 0.2rem;
  }
}

div.header h2 {
  font-size: 16px;
  font-weight: 400;
  color: #cfd7de;
  max-width: 80%;
  margin: auto;
}

div.item {
  display: flex;
  flex: auto;
  overflow-y: auto;
  padding: 0rem 1rem 0rem 1rem;
}

#timeline {
  position: relative;
  display: none;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

#timeline div:after {
  content: "";
  width: 2px;
  position: absolute;
  top: 0.5rem;
  bottom: 0rem;
  left: 60px;
  z-index: 1;
  background: #c5c5c5;
}

#timeline h3 {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  color: #888;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}

@media (min-width: 62em) {
  #timeline h3 {
    font-size: 1.1em;
  }
}

#timeline section.year {
  position: relative;
}

#timeline section.year:first-child section {
  margin-top: -1.3em;
  padding-bottom: 0px;
}

#timeline section.year section {
  position: relative;
  padding-bottom: 1.25em;
  margin-bottom: 2.2em;
}

#timeline section.year section h4 {
  position: absolute;
  bottom: 0;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 0 89px;
  color: #c5c5c5;
}

@media (min-width: 62em) {
  #timeline section.year section h4 {
    font-size: 1em;
  }
}

#timeline section.year section ul {
  list-style-type: none;
  padding: 0 0 0 75px;
  margin: -1.35rem 0 1em;
  max-width: 32rem;
  font-size: 1em;
}

@media (min-width: 62em) {
  #timeline section.year section ul {
    font-size: 1.1em;
    padding: 0 0 0 81px;
  }
}

#timeline section.year section ul:last-child {
  margin-bottom: 0;
}

#timeline section.year section ul:first-of-type:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 54px;
  top: 3px;
  z-index: 2;
}

#timeline section.year section ul li {
  margin-left: 0.5rem;
}

#timeline section.year section ul li:before {
  content: "";
  margin-left: -0.5rem;
  padding-right: 0.3rem;
}

#timeline section.year section ul li:not(:first-child) {
  margin-top: 0.5rem;
}

#timeline section.year section ul li span.price {
  color: mediumturquoise;
  font-weight: 500;
}

.usd {
  display: inline;
}

svg {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

a {
  text-decoration: none;
  border-bottom: 1px solid hsl(210, 28%, 44%);
  box-shadow: inset 0 -2px 0 hsl(210deg 28% 44%);
  color: inherit;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  color: hsl(210deg 28% 44%);
}

a:after {
  /* <div class="icon-" style="font-family: icomoon; display: inline; font-size: 0.9em"></div>  */
  content: "";
  font-family: icomoon;
  display: inline;
  font-size: 0.9em"

}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  box-shadow: 2px 1px 8px 2px rgb(0 0 0 / 50%);
  /* bit of a hack to hide the timeline */
  z-index: 2;
}

.easeload {
  opacity: 0;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.easeload-gallery {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgba(0, 0, 0, 0.9);  */
  /* backdrop-filter: blur(16px); */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 95%;
  height: 95%;
  object-fit: contain;
  /* add this for svg background! */
  /* background-color: white; */
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  background-color: hsl(210, 28%, 44%) !important;
}

.swiper-pagination-bullet-active {
  background-color: hsl(210, 28%, 44%) !important;
}

.switch {
  color: #d9e2eb;
  text-decoration: none;
  border-bottom: 1px solid hsl(210, 28%, 44%);
  box-shadow: inset 0 -2px 0 hsl(210deg 18.61% 78.9%);
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  display: inline;
  text-shadow: 4px 4px 4px #1a3755;
}

h2:has(> .switch)::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  /* background-color: hsl(209deg 24% 80% / 58%); */
  margin-bottom: 8px;
  margin-top: 8px;
  box-shadow: 0px 0 16px 2px #52687d;
  opacity: 0.6;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), hsl(209deg 24% 80% / 58%), rgba(0, 0, 0, 0));
  cursor: pointer;
}

#projects {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  width: 90%;
}

.project-row {
  display: flex;
  width: 100%;
}

.project-item {
  flex: 1;
  padding: 10px;
}

.project-item img {
  max-width: 100%;
  height: auto;
}

.project-item.reversed {
  order: -1;
  /* Reverse the order for every other row */
}

.project-name {
  font-size: 1.5em;
  font-weight: bold;
  color: hsl(209 20% 50% / 1);
}

.project-date {
  font-size: 0.8em;
  font-style: italic;
}

.project-description {
  margin-top: 10px;
}

.project-tools {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 10px;
  justify-content: center
}

.project-tools li {
  margin-right: 5px;
}

.project-tools img {
  max-height: 48px;
  width: auto;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .project-row {
    flex-direction: column;
  }

  .project-item {
    order: initial; /* Reset the order for mobile view */
  }

  .grid-container {
    width: 100% !important; 
  }
}